@use "../../mixins/respond.scss";

.app{
    &__navbar{
        font-size: 1.6rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 1.6rem 3rem;
        background: rgba(255,255,255, 0.25);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        position: fixed;
        border: 1px solid rgba(255,255,255, 0.25);

        z-index: 2;

        @include respond.respond(phone){
            font-size: 1rem;
            padding: 1rem 1.5rem;

        }


        &-links{
            text-decoration: none;
            list-style: none;
            // take the rest of the space not taken by anything else
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        &-li{
            position: relative; // ?
            text-decoration: none;
            font-weight: 500;
            padding: 1rem 2rem;
            flex-direction: column;
            margin: 0 1rem;

            @include respond.respond(phone){
                margin: 0 .5rem;
                padding: .8rem 1.6rem;
            }

            // When page is scrolled down shrink navbar
            &-scrolling{
                font-size: 1.2rem;

                @include respond.respond(phone){
                    font-size: .8rem;
                }
            }
        }

        a{
            color: var(--color-grey-text);
            text-decoration: none;
            text-transform: uppercase;
            transition: color .3s, font-size .5s;

            &:hover{
                color: var(--color-primary-dark);
            }
        }
    }
}

